extends layout 

block content
  h1 #{title}
  br
  form(method='POST', action='/') 
    #form-group
      textarea.form-control(placeholder ='Add something.....', type='text' name='name' style='rows:1')
    br
    button(type='submit' value='submit')
      i.fa.fa-check
    br
    br
    br
    br
  ul.list-group
    each todo, i in todos 
      li.list-group-item= todo.name 
      .btn.delete-todo(href='#', data-id=todo._id).i.fa.fa-times-circle
      br 
      br